@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
    background-color: rgb(26, 24, 24);
    /* background-size: cover; esto es para fotos */
    background-position: center;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background: rgba(255, 255, 255, .1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    backdrop-filter: blur(50px);
    border-bottom: 2px solid rgba(255, 255, 255, .2);
    margin-bottom: 50px;
}

.header::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, transparent,
            rgba(255, 255, 255, .4), transparent);
    transition: .5s;
}

.header:hover::before {
    left: 100%;
}

.logo {
    color: #fff;
    font-size: 25px;
    text-decoration: none;
    font-weight: 600;
    cursor: default;
}

.navbar a {
    color: rgb(255, 255, 255);
    font-size: 18px;
    text-decoration: none;
    margin-right: 35px;
}

.navbar a:hover {
    color: #f00;
}

.seleccionador {
    display: flex;
    flex-direction: column;
    width: 80%;
}

.opciones {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
    margin-bottom: 1.5rem;
}

.opciones label {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #FFF;
    padding: 1.5rem;
    box-shadow: var(--shadow);
    border-radius: 20px;
    cursor: pointer;
}

h3 {
    display: flex;
    flex-direction: row;
    justify-content: left;
    color: white;
    font-size: calc(10px + .8vw);
    font-weight: 700;
    margin-top: 2.5rem;
    margin-bottom: 20px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.divAscensores, .divVisitantes {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}

#listaAscensores, #listaVisitantes {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

.elementoAscensor{
    display: flex;
    justify-content: space-between;
    align-items: center; /*esto aprendi tocando todo asjhkdajskd */
    flex-direction: row;
    border-style: solid;
    border-width: 1px;
    border-color: #FFF;
    border-radius: 5px;
    max-width: 95%;
    height: 100%;
    padding: 20px;
    flex-wrap: wrap;
    margin-bottom: 20px;

}

.elementoVisitante {
    display: flex;
    justify-content: space-between;
    align-items: last baseline; /*esto aprendi tocando todo asjhkdajskd */
    flex-direction: row;
    border-style: solid;
    border-width: 1px;
    border-color: #FFF;
    border-radius: 5px;
    padding: 20px;
    max-width: 80%;
    margin-bottom: 20px;
    flex-wrap: wrap;
    min-height: 175px;
}


.tagItem {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    color: white;
    width: 20%;
    margin-right: 5px;
    font-size: calc(7px + .8vw);
    font-weight: 700;
}

.textFieldNombreAscensor, .textFieldNombreVisitante,
.textFieldEdadVisitante, .textFieldEmailVisitante {
    display: flex;
    height: 50px;
    width: 25%;
    border: 1px solid #d1d1d1;
    border-radius: 10px;
    font-size: calc(4px + .8vw);
    padding: 12px;
    box-shadow: inset 0px 1px 8px rgba(0, 0, 0, 0.5);
    line-height: 1.45;
    outline: none;
    -webkit-transition: .18s ease-out;
    -moz-transition: .18s ease-out;
    -o-transition: .18s ease-out;
    transition: .18s ease-out;
}

.textFieldNombreAscensor:hover, .textFieldNombreVisitante:hover,
.textFieldEdadVisitante:hover, .textFieldEmailVisitante:hover {
    box-shadow: inset 1px 2px 8px rgba(255, 255, 255, 1);
}

.fechaIngreso, .fechaEgreso {
    color: white;
    width: 50%;
    font-size: calc(6px + .5vw);
    font-weight: 500;
}

.containerDatePicker1, .containerDatePicker {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 25%;
}

.datePicker {
    display: flex;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: white;
    padding: 15px;
    top: 50%;
    left: 50%;
    color: #6e93f7;
    font-size: 1.2vw;
    border: none;
    outline: none;
    border-radius: 5px;
}

::-webkit-calendar-picker-indicator {
    background-color: white;
    padding: 5px;
    cursor: pointer;
    border-radius: 3px;
}

.botonBorrar {
    display: flex;
    align-items:center;
    justify-content: center;
    background: none;
    background-color: white;
    color: red;
    border: 1px solid lighten(gray, 24%);
    height: 48px;
    width: 10.5%;
    padding: 0 24px 0 16px;
    letter-spacing: .25px;
    border-radius: 24px;
    transition: 0.3s
}

.labelBorrar, .garbageItem {
    display: flex;
    font-size: calc(4px + 0.5vw);
    margin: calc(1px + .2vw);
    flex-wrap: wrap;
    text-align: center;
}

.botonBorrar:hover, .labelBorrar:hover,
.garbageItem:hover {
    color: white;
    background-color: red;
    cursor: pointer;
}

.picker {
    position: relative;
    max-width: 200px; /* esto si le pones + de 200 no se ve */
    width: 100%;
    margin-left: 60px;
}

.select-btn {
    display: flex;
    height: 50px;
    width: 100%;
    align-items: center;
    padding: 0 16px;
    border-radius: 8px;
    cursor: pointer;
    background-color: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.btn-text {
    margin-right: 10px;
}

.select-btn .btn-text {
    font-size: 17px;
    font-weight: 400;
    color: #333;
}

.select-btn .arrow-dwn {
    display: flex;
    height: 18px;
    width: 18px;
    color: white;
    font-size: 14px;
    border-radius: 50%;
    background: #6e93f7;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
    flex-shrink: 0; /* Evita que el elemento .arrow-dwn se encoja al cambiar el contenido */
    overflow: hidden; /* Evita que el contenido afecte el tamaño del elemento */
}

.select-btn.open .arrow-dwn {
    transform: rotate(-180deg);
}

.list-items {
    flex-wrap: wrap;
    max-height: 200px;
    max-width: 320px;
    overflow-y: auto;
    position: absolute;
    margin-top: 15px;
    border-radius: 8px;
    padding: 16px;
    background-color: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    display: none;
    z-index: 1;
}

.select-btn.open~.list-items {
    display: flex;
}

.list-items .item {
    margin-right: 50px;
    margin-bottom: 25px;
    margin-left: 5px;
    width: 80px;
    display: flex;
    align-items: center;
    list-style: none;
    height: 50px;
    cursor: pointer;
    transition: 0.9s;
    border-radius: 8px;
}

.list-items .item:hover {
    background-color: #e7edfe;
}

.item .item-text {
    font-size: 16px;
    font-weight: 400;
    color: #333;
}

.item .checkbox {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 16px;
    width: 16px;
    border-radius: 4px;
    margin-right: 12px;
    border: 1.5px solid #c0c0c0;
    transition: all 0.3s ease-in-out;
}

.item.checked .checkbox {
    background-color: #4070f4;
    border-color: #4070f4;
}

.checkbox .check-icon {
    color: #fff;
    font-size: 11px;
    transform: scale(0);
    transition: all 0.2s ease-in-out;
}

.item.checked .check-icon {
    transform: scale(1);
}